@font-face {
font-family: 'opensans';
	src: url('/assets/css/fonts/opensans.eot')  format('embedded-opentype'),
	url('/assets/css/fonts/opensans.woff') format('woff'),
	url('/assets/css/fonts/opensans.woff2') format('woff2'),
	url('/assets/css/fonts/opensans.ttf')  format('truetype'),
	url('/assets/css/fonts/opensans.svg')  format('svg');
}

html, body {
	background-color: whitesmoke;
	font-family: opensans, 'opensans', sans-serif;
}

#body-container {
	display: flex;
	min-height: 92vh;
	flex-direction: column;
}

#header nav.navbar {
	background-color: #AA0000;
	color: #FFFFFF;
}

#header nav.navbar a {
	text-decoration: none;
	color: #FFFFFF;
}

#header nav.navbar a.navbar-item:hover {
	background-color: #FFFFFF;
	color: #AA0000;
}

#header nav.navbar .navbar-dropdown {
	border-top: none;
	background-color: #AA0000;
}

#header nav.navbar .navbar-link:hover {
	background-color: #FFFFFF;
	color: #AA0000;
}

.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
	background-color: #FFFFFF;
	color: #AA0000 !important;
}

.navbar-menu {
	background-color: inherit;
}

#header nav.navbar .navbar-item.navbar-item-home .title {
	color: #FFFFFF;
}

#header nav.navbar .navbar-item.navbar-item-home:hover {
	color: #FFFFFF;
	background: none;
}

footer.footer {
	background-color: #1A378E;
	color: #FFFFFF;
	flex: 1;
	padding: 20px;
	font-size: 12px;
}

footer.footer .content, footer.footer p, footer.footer p.content, footer.footer h1, footer.footer h2, footer.footer h3 footer.footer a {
	color: #FFFFFF;
}

footer.footer a {
	color: #FFFFFF;
	text-decoration: underline;
}

a.button.is-link {
	background-color: #1A378E;
}

a {
	color: #1A378E;
	font-style: none;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover {
	color: #AA0000;
	text-decoration: underline;
}

a:before, a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

.no-select {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

::-moz-selection {
	background-color: rgba(255, 255, 0, 0.5);
}

::selection {
	background-color: rgba(255, 255, 0, 0.5);
}

#home_main {
	background-image: url("/assets/img/constitution.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#home_goals {
	background-image: url("/assets/img/whitehouse.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#home_news {
	background-image: url("/assets/img/office.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.white-glass-container {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 50px;
	border-radius: 5px;
}

.error-message::before {
	font-weight: bold;
	content: "Error: ";
}

.error-message {
	color: #AA0000;
}
